@font-face {
  font-family: "INTERITALIC";
  src: url("./Inter-Italic-VariableFont_opsz\,wght.ttf") format("opentype");
}
@font-face {
  font-family: "INTERVARIABLE";
  src: url("./Inter-VariableFont_opsz\,wght.ttf") format("opentype");
}
